* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.lista-de-tareas {
  /* height: 110vh;  esto me estaba rompiendo la cabeza*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  margin-top: 30px;
}